<section>
    <mat-form-field class='example-full-width'>
      <input
        matInput
        type='text'
        [(ngModel)]='searchValue'
        (input)='onSearchInput()'
        placeholder='Search For GOT House'>
        <button
          *ngIf='!searchValue || searchValue===""'
          matSuffix
          mat-icon-button
          aria-label='Clear'
          (click)='clearSearch()'>
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

  <div>
    <ul>
      <li *ngFor="let house of filteredHouses">
        <a routerLink="/houses/{{ house.slug }}">
         {{ house.name }}
        </a>
    
      </li>
      </ul>
  </div>
</section>
